* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;

  /* 1 */

  -ms-text-size-adjust: 100%;

  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

dl,
dd,
h2 {
  margin: 0;

  padding: 0;
}

h1 {
  margin: 0.67em 0;

  font-size: 2em;
}

hr {
  /* 1 */
  overflow: visible;

  box-sizing: content-box;

  /* 1 */
  height: 0;
  /* 2 */
}

pre {
  /* 1 */
  font-size: 1em;

  font-family: monospace, monospace;
  /* 2 */
}

a {
  background-color: transparent;

  /* 1 */

  -webkit-text-decoration-skip: objects;
  /* 2 */
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  /* 1 */
  font-size: 1em;

  font-family: monospace, monospace;
  /* 2 */
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;

  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;

  vertical-align: baseline;

  font-size: 75%;

  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  /* 1 */
  margin: 0;

  /* 1 */
  font-size: 100%;

  font-family: sans-serif;

  /* 1 */
  line-height: 1.15;
  /* 2 */
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
html [type="button"],

/* 1 */

[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

textarea {
  overflow: auto;
}

body {
  color: #333;

  font-size: 14px;

  font-family: "Microsoft YaHei", "宋体", Arial, Helvetica, sans-serif;
}

.clearfix:before,
.clearfix:after {
  display: table;

  content: "";
}

.clearfix:after {
  clear: both;
}

ul {
  margin: 0;

  padding: 0;

  list-style-type: none;
}

a {
  color: #000;

  text-decoration: none;
}
p {
  margin: 10px 0;
}
a:hover,
a:active,
a:focus {
  color: #f7ac11;

  text-decoration: none;
}

.mar50 {
  margin: 50px 0 !important;
}

.mb50 {
  margin-bottom: 50px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.gray {
  background: #f5f5f5 !important;
}

.header {
  display: block;

  margin: 0 auto;

  width: 1200px;

  height: 80px;

  line-height: 80px;
}

.logo {
  float: left;
}

.logo h1 {
  float: left;

  margin: 0 20px 0 0;
}

.logo h1 a {
  display: inline-block;

  width: 182px;

  height: 80px;

  background: url(../images/logo.png) no-repeat 0 center;

  text-indent: -9999px;
}

.logo strong {
  padding: 8px 20px;

  border-left: 2px solid #ccc;

  color: #666;

  font-weight: normal;

  font-size: 14px;
}

.menu {
  position: relative;

  float: right;

  font-size: 16px;
}

.menu li {
  position: relative;

  display: inline-block;

  margin: 0 15px;
}

.menu-bar,
.menu .menu-selected:after {
  position: absolute;

  bottom: 0;

  left: 0;

  width: 0;

  height: 4px;

  background: #f7ac11;

  transition: all 0.2s;
}

.menu .menu-selected:after {
  position: absolute;

  bottom: 0;

  left: 0;

  width: 100%;

  content: "";
}

.menu li a {
  display: block;

  padding: 0 10px;

  color: #333;
}

.menu li a:hover,
.menu .menu-selected a {
  color: #f7ac11;
}

/*banner*/

.banner {
  position: relative;

  display: block;

  overflow: hidden;

  min-width: 1200px;

  height: 400px;
}

.banner .bannerC {
  position: absolute;

  top: 0;

  left: 0;

  z-index: 1;

  overflow: hidden;

  width: 100%;

  height: 400px;
}

.banner .bannerC li {
  position: absolute;

  overflow: hidden;

  width: 100%;

  height: 400px;

  background-position: center center;

  background-size: 100%;

  background-repeat: no-repeat;

  text-align: center;
}

.banner .bannerC li a {
  display: block;

  overflow: hidden;

  margin: 0px auto;

  width: 1000px;

  height: 400px;
}

.banner .bannerMenu {
  position: absolute;

  bottom: 30px;

  left: 50%;

  z-index: 2;

  margin-left: -200px;
}

.banner .bannerMenu li {
  float: left;

  overflow: hidden;

  margin: 0 4px;

  width: 16px;

  height: 16px;

  background: url(../images/banner_bar.png) no-repeat -22px 0;

  cursor: pointer;
}

.banner .bannerMenu li.on,
.banner .bannerMenu li:hover {
  background-position: 0 0;
}
.albanner {
  overflow: hidden;

  margin: 0 auto;

  width: 100%;

  height: 270px;

  text-align: center;
}
.wrap {
  overflow: hidden;

  margin: 0 auto;

  width: 1200px;
}
.wrapper {
  width: 100%;

  background: #f5f5f5;
}
.sub-title {
  padding: 8px;

  background: url(../images/dashed.png) no-repeat center center;

  color: #333;

  text-align: center;

  font-weight: normal;

  font-size: 16px;
}

.sub-title p {
  padding: 5px 0;
}
.sub-title-top {
  font-size: 24px;
}
.wrap-content {
  margin-top: 30px;

  margin-bottom: 30px;
}

.content-item {
  float: left;

  margin-right: 72px;

  width: 246px;

  text-align: center;
}

.content-item:last-of-type {
  margin-right: 0;
}

.icon .icon-img {
  display: table-cell;

  width: 246px;

  height: 75px;

  vertical-align: bottom;
}

.icon .icon-txt {
  padding: 25px 0 12px;

  color: #000;

  font-size: 18px;
}

.content-info {
  color: #999;

  line-height: 200%;
}

.square-btn {
  display: inline-block;

  width: 216px;

  height: 50px;

  border: 1px solid #989797;

  text-align: center;

  line-height: 50px;
}

.square-btn:hover {
  border: 1px solid #f7ac11;

  background: #f7ac11;

  color: #fff;
}

.square-btn:hover .triangle {
  border-color: transparent transparent transparent #fff;
}

.btn-txt {
  margin-right: 5px;
}

.triangle {
  display: inline-block;

  margin-left: 5px;

  width: 0;

  height: 0;

  border: none;

  border-width: 5px;

  border-style: solid;

  border-color: transparent transparent transparent #000;
}

.content-footer {
  text-align: center;
}

.wrap-full {
  padding: 30px 0 0 0;

  width: 100%;

  background: #333;
}

.wrap-full .content-footer {
  margin: 50px 0;
}

.wrap-full .content-footer a {
  border: 1px solid #f7ac11;

  background: #f7ac11;

  color: #fff;
}

.wrap-full .content-footer .triangle {
  border-color: transparent transparent transparent #fff;
}

.sovle-title {
  height: 120px;

  color: #fff;

  text-align: center;

  font-size: 24px;

  line-height: 120px;
}

.cover {
  position: relative;

  float: left;

  width: 300px;

  height: 300px;

  color: #fff;
}

.cover .cover-content {
  position: absolute;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  z-index: 99;

  display: table-cell;

  vertical-align: middle;

  text-align: center;
}

.cover .mask {
  position: absolute;

  top: 0;

  right: 0;

  bottom: 0;

  left: 0;

  z-index: 98;

  background: #000;

  opacity: 0.7;

  transition: all 0.1s;
}

.cover:nth-of-type(2) .mask,
.cover:nth-of-type(4) .mask,
.cover:nth-of-type(5) .mask,
.cover:nth-of-type(7) .mask {
  opacity: 0.4;
}

.cover:hover .mask {
  background: #f7ac11;

  opacity: 0.8;
}

.cv-img {
  display: table-cell;

  width: 300px;

  height: 300px;

  vertical-align: middle;
}

.cv-img img {
  margin-top: 20px;
}

.cv-txt {
  margin-top: 30px;

  font-size: 18px;
}

.article {
  float: left;

  margin-right: 100px;

  padding-bottom: 30px;

  width: 550px;
}

.article:nth-of-type(2) {
  margin-right: 0;
}

.ar-title {
  height: 50px;

  background: url(../images/h2_dashed_line.png) repeat-x left bottom;

  font-size: 18px;

  line-height: 50px;
}

.ar-title img {
  margin-right: 18px;
}

.ar-title span {
  display: block;

  float: right;

  margin-top: 17px;

  width: 44px;

  height: 11px;

  background: url(../images/more.png) no-repeat left center;
}

.ar-list li {
  padding-left: 14px;

  height: 40px;

  background: url(../images/li_dot.png) no-repeat left center;

  line-height: 40px;
}

.ar-list li span {
  float: right;
}

.footer {
  padding: 0 0 30px 0;

  color: #949494;
}

.footer-logo {
  float: left;

  margin-top: 15px;

  margin-right: 30px;
}

.contact {
  float: left;

  width: 326px;

  background: url(../images/line.png) no-repeat right center;
}

.contact-item dd,
.contact-item dt {
  height: 30px;

  line-height: 30px;
}

.links {
  height: 52px;

  line-height: 52px;
}

.links a {
  color: #949494;
}

.links a:hover {
  text-decoration: underline;
}

.space-line {
  padding: 0 14px;
}
.footer-copyright {
  float: right;

  padding: 0 0 0 40px;

  width: 874px;
}
.qrcode {
  float: right;
}
/**
解决方案页面
**/
.sub-nav {
  text-align: center;
}
.sub-nav li {
  display: inline-block;

  margin: 0 14px;

  height: 50px;

  line-height: 50px;
}
.sub-nav li.on {
  border-bottom: 2px solid #f7ac11;
}
.sub-nav li a {
  display: block;

  padding: 0 12px;
}
.sub-nav li.on a {
  color: #f7ac11;
}
.solution-info {
  margin: 0 auto 20px;

  padding: 0 160px;

  text-align: center;

  line-height: 40px;
}
.zhong_hui_anz {
  float: left;
}
.zhong_hui_anz a {
  display: block;

  margin: 15px 15px 30px 15px;

  padding: 20px 12px;

  width: 270px;

  height: 410px;

  border-radius: 12px;

  background-color: #f5f5f5;

  text-align: center;
}
.zhong_hui_anz a:hover {
  background-color: #ffffff;

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
.zhong_hui_anz a img {
  display: block;

  margin: 0 auto 30px auto;

  width: 77px;

  height: 77px;

  text-align: center;
}
.zhong_hui_anz a span {
  text-align: center;

  text-align: center;

  font-size: 20px;

  line-height: 36px;
}
.zhong_hui_anz a p {
  margin: 10px auto;

  color: #666;

  text-align: left;

  font-size: 12px;

  line-height: 30px;
}
.img-container {
  text-align: center;
}
